* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.menu-row {
  z-index: 100;
  position: fixed;
  width: 100%;
  float: left;
  padding: 10px;
  background: #222;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  float: left;
  padding: 10px 20px;
  /*animation*/
  font-size: 15px;
  position: relative;
  transition: all .3s cubic-bezier(.2, 0, 0, 1);
  z-index: 1;
  cursor: pointer
}

nav.horizontal-nav {
  font-size: 12px;
  font-weight: 400;
  font-family: Verdana, Tahoma, sans-serif;
  position: relative;
}

nav.left { float: left; }
nav.right { float: right; }

nav.horizontal-nav ul {
  margin: 0px;
}

nav.horizontal-nav ul > li {
  display: inline-block;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
}
  
/*animation*/

.nav-item:after {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  bottom: 0.5px;
  right: 1.25rem;
  left: 1.25rem;
  background-color: #fff;
  transition: all .5s cubic-bezier(.2, 0, 0, 1);
  transform-origin: bottom center;
  z-index: -1;
}
  
.nav-item:hover {
  color: #2D2D2D;
}
    
.nav-item:hover:after {
  right: 0;
  left: 0;
  height: 100%;
}

.menu-left {
  z-index: 100;
  position: fixed;
  float: left;
  padding: 10px;
  background: #222;
}