.form-body {
  margin: auto;
  text-align: center; 
  max-width: 800px;
  width: 100%;
}

.form-group {
  position: relative;
  z-index: 0;
  padding-top: 10px;
}

.form-label-black {
  position: absolute;
  top: 5px;
  left: 22px;
  margin: auto;
  font-size: 12px;
  transform: translateY(0);
  transition: all 0.2s ease-out;
}

.form-label-white {
  color: #fff;
  position: absolute;
  top: 5px;
  left: 22px;
  margin: auto;
  font-size: 12px;
  transform: translateY(0);
  transition: all 0.2s ease-out;
}

.textarea-big {
  height: 300px;
}

input:placeholder-shown + .form-label-black,
input:placeholder-shown + .form-label-white,
textarea:placeholder-shown + .form-label-black{
  opacity: 0;
  transform: translateY(1rem);
}

.form-input-black {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 20px;
  margin: 15px auto;
  outline: none;
  transition: all 1s;
}

.form-input-black:hover {
  box-shadow: 0px 0px 0px 1px #333 inset;
}

.form-input-black:focus, active {
  box-shadow: 0px 0px 0px 1px #000 inset;
}

.form-input-white {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 20px;
  margin: 15px auto;
  outline: none;
  transition: all 1s;
}

.form-input-white:hover {
  box-shadow: 0px 0px 0px 2px #333 inset;
}

.form-input-white:focus, active {
  box-shadow: 0px 0px 0px 2px #333 inset;
}

.form-button {
  width: 100%;
  max-width: 200px;
  border-radius: 15px;
  background-color: transparent;
  border: 2px solid #000;
  padding: 10px 20px;
  margin: 15px auto;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 1s cubic-bezier(.2, 0, 0, 1);
  transform-origin: bottom center;
}

.form-button:hover {
  color: #fff;
  background-color: #000;
}

.form-group .form-info {
  display: none;
}

.form-group input:invalid {
  border: solid 1px #d0011b;
}

.form-group input:invalid ~ .form-info {
  display: block;
  font-size: 13px;
  color: #d0011b;
}

.form-group input.form-input-white:invalid ~ .form-info {
  display: block;
  font-size: 13px;
  color: #fff;
}

