/* скрываем чекбоксы и блоки с содержанием */
.hide {
  display: none; 
}
.hide + label ~ div{
  display: none;
}
/* оформляем текст label */
.hide + label {
  cursor: pointer;
  display: inline-block; 
}

/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
  display: block; 
  padding: 10px; 
}

/* demo контейнер */
.demo {
  margin: 5% 10%;
}

.info-button {
  display: inline-block;
}
