.info {
  width: 100%;
  margin: auto;
  text-align: center;
}

.info-text-big {
  width: 100%;
  max-width: 500px;
  font-size: 50px;
  font-weight: 100;
  margin: auto;
  margin-top: 40px;
}

.info-text-small {
  width: 500px;
  font-size: 16px;
  margin: 40px auto;
}

.info-item {
  display: inline-block;
  max-width: 200px;
  width: 100%;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid;
  white-space: pre-wrap;
}

.info-item:after {
  height: 100%;
}