.demo-item {
  margin: 5px;
  padding: 20px;
  border: 1px solid;
  border-radius: 20px;
}

.demo-subitem {
  display: inline-block;
  width: 50%;
}

.demo-button {
  width: 100%;
  max-width: 200px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #000;
  padding: 10px 20px;
  margin-top: 15px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 1s cubic-bezier(.2, 0, 0, 1);
  transform-origin: bottom center;
}

.demo-button:hover {
  color: #fff;
  background-color: #000;
}