.manual-item {
  margin: 5px;
  padding: 60px;
  border: 1px solid;
  border-radius: 20px;
}

.manual-link,
.manual-link:hover, 
.manual-link:focus {
  color: #000;
  border-bottom: 1px solid;
  text-decoration: none;
}
