.wrapper {
  max-width: 1000px;
  width: 100%;
  overflow: hidden;
  margin: auto;
  text-align: center;
  margin: 30px auto;
}

.wrapper-text-big {
  width: 100%;
  max-width: 500px;
  font-size: 50px;
  font-weight: 100;
  margin: auto;
  margin-top: 30px;
}

.wrapper-text-small {
  width: 500px;
  font-size: 16px;
  margin: 30px auto;
}

.wrapper-about-item {
  margin: 40px auto;
  padding: 40px;
  border: 1px solid;
  border-radius: 20px;
  background: #fff;
}

.wrapper-about-header {
  font-size: 30px;
  font-weight: 100;
  margin: 0px auto 20px;
  text-align: center;
}

.wrapper-about-text {
  text-align: left;
  text-indent: 1.5em;
}

.wrapper-manual-item {
  margin: 10px 30px 60px;
  border-radius: 20px;
  background: #fff;
}

.wrapper-manual-header {
  font-size: 30px;
  font-weight: 100;
  margin: 0px auto 30px;
  text-align: left;
  text-indent: 1.5em;
  border-bottom: 1px solid #ccc;
}

.wrapper-manual-text {
  text-align: left;
  text-indent: 1.5em;
  font-size: 1.2em;
  line-height: 1.8em;
}