.info-item {
  display: inline-block;
  max-width: 300px;
  width: 100%;
  padding: 20px 30px;
  margin: 5px;
  border: 1px solid;
  border-radius: 20px;
  text-align: center;
}

.info-item:after {
  height: 100%;
}

.info-subitem {
  margin: 10px;
}

.info-text {
  height: 200px;
  overflow: hidden;
  margin: auto;
}

.info-img {
  width: 50px;
}

.info-link, .info-link:visited {
  color: #000;
  text-decoration: none;
}

@media (max-width: 690px) {
  .info-item {
    display: inherit;
    margin: 10px auto;
    max-width: 500px;
  }

  .info-text {
    height: 100%;
  }
}

