.contact-form {
  margin: auto;
  text-align: center; 
  max-width: 540px;
  width: 100%;
}

.form-group {
  position: relative;
  z-index: 0;
  padding-top: 10px;
}

.contact-label {
  position: absolute;
  top: 5px;
  left: 22px;
  margin: auto;
  font-size: 12px;
  transform: translateY(0);
  transition: all 0.2s ease-out;
}

input:placeholder-shown + .contact-label,
textarea:placeholder-shown + .contact-label {
  opacity: 0;
  transform: translateY(1rem);
}

.contact-input {
  max-width: 600px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #000;
  padding: 20px;
  margin: 15px auto;
  outline: none;
}

.contact-button {
  width: 100%;
  max-width: 200px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #000;
  padding: 10px 20px;
  margin-top: 15px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
}