.banner {
  background-color: #222;
  color: #fff;
  overflow: hidden;
  width: 100%;
  margin: auto;
  text-align: center;
}

.banner-text-big {
  width: 100%;
  max-width: 500px;
  font-size: 50px;
  font-weight: 100;
  margin: auto;
  margin-top: 40px;
}

.banner-text-small {
  width: 500px;
  font-size: 16px;
  margin: 40px auto;
}

.banner-button {
  width: 100%;
  max-width: 200px;
  border-radius: 20px;
  background-color: transparent;
  border: 4px solid #fff;
  padding: 10px 20px;
  font-size: 17px;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
}

.banner-button:hover {
  background-color: #fff;
  color: #000;
}